#md-preview {
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: 800;
  }

  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: 700;
  }

  h3 {
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: 700;
  }

  p {
    margin: 1rem 0;
  }
}
